div  {
  width: 200px;
  height: 200px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url("pup.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}

img {
  border: 20px groove orangered;
  padding: 20px;
  margin: 40px;
}

.dogone {
  border: 20px dashed orangered;
}

.dogtwo {
  border: 20px dotted orangered;
}

.dogthree {
  border: 20px double orangered;
}
