div {
  border: 1px solid black;
  width: 10rem;
  height: 5rem;
  border-radius: 3rem;
  box-sizing: border-box;
  display: inline-block;
}

.type1 {
  background-color: red;
}
.type2 {
  background-color: blue;
}
.type3 {
  background-color: yellow;
}
.type4 {
  background-color: green;
}
